.icons{
    .mainAdiv{

        .divA{
    
            height: 3rem;
            width: 3rem;
            text-align: center;
            font-size: 1rem;
            border-radius: 50%;
    
    
        }
    }
}